#container{
	width: 90%;
	margin:auto;
	margin-top:20px;
	background-color: rgb(245,245,245);
	padding: 10px;
	text-align: center;
}

#type1{
	text-align: center;
	background-color: rgb(246,246,246);
	border:solid 1px #DDDDDD;
	display: inline-block;
	padding: 30px;
	width: 44%;
	height: 750px;
	vertical-align: top;
}

#type2{
	text-align: center;
	background-color: rgb(246,246,246);
	border:solid 1px #DDDDDD;
	display: inline-block;
	padding: 30px;
	width: 44%;
	height: 750px;
	vertical-align: top;
}

nav{
	height:40px;
	font-size:0px;
	margin:auto;
	padding-left:30px;
	background-color:#009999;
}

nav a{	
	color:white;
	display:inline-block;
	width:100px;
	height:100%;
	line-height:40px;
	text-align:center;
	font-size:16px;
	text-decoration:none;
}

nav a:hover{
	background-color:#CC6600;
}

input{
	width: 300px;
	height: 30px;
}

select{
	width: 80px;
	height: 30px;
	background-color: #9999FF;
	color:white;
}

textarea{
	width: 350px;
	height: 50px;
	margin-top: 10px;
}

p span{
	font-size: 18px;
	margin-right: 10px;
	color: #CC6600
}

button{
	width: 150px;
	height: 40px;
	background-color: #FF6600;
	color:white;
	border:none;
	border-radius: 5px;
	cursor: pointer;
}

h1{
	display: inline-block;
	color: #6600CC;
	vertical-align: top;
	margin-left: 68%;	
}

#container_stat1{
	display: inline-block;
	width: 70%;
	margin-top:20px;
	background-color: rgb(245,245,245);
	padding: 10px;
	padding-left:35px;
}

.top_info{
	list-style-type: none;
	border:solid 1px #CCCCCC;
	width: 40%;
	padding: 15px;
	border-radius: 5px;
	background-color: rgb(242,242,242);
	margin-bottom: 10px;
}

.stat_user{
	margin-right: 15px;
	color:#CC6666;
}

.stat_num{
	color:#9933CC;
}

#subselect{
	margin-left:85px;
}

#subselect a{
	text-decoration:none;
	display:inline-block;
	height:45px;
	width:85px;
	background-color:#FF6600;
	line-height:45px;
	text-align:center;
	color:white;
	border:solid 1px #DDD;
	margin-top:10px;
	border-radius:8px;
}

.item{
	text-align:left;
	margin-bottom:18px;
	border:solid 1px #AAA;
	border-radius:5px;
}

.item span{
	display:inline-block;
	margin:9px;
	line-height:18px;
	font-size:16px;
}

.item > span:nth-child(1){
	color:#6699FF;
}

.item > span:nth-child(2){
	color:#6699FF;
}

.item > span:nth-child(3){
	color:#666600;
}

.item > span:nth-child(4){
	color:#666600;
}

.item > span:nth-child(5){
	color:#666600;
}

.item > span:nth-child(6){
	color:#666600;
}

.item > span:nth-child(7){
	color:#666600;
}

.item > span:nth-child(8){
	color:#666600;
}

.item_content span{
	font-size:15px;
	color:#CC6600;
}

.item_analyse span{
	font-size:15px;
	color:#777;
}

.item_option span{
	font-size:15px;
}

.item_media span{
	font-size:14px;
}

.btn{
	width:120px;
	height:30px;
	font-size:16px;
	color:white;
	background-color:#FF3300;
	margin:15px;
}

#update{
	display:none;
	width:40%;
	margin:auto;
	background-color:#CCCCFF;
	padding:25px;
	border:solid 2px #CCC;
	color:#252525;
	border-radius:12px;
	position:absolute;
	left:50%;
	transform:translateX(-50%);
	top:45px;
}

#update select{
	width:50%;
}

#update input{
	width:50%;
	height:20px;
	border:none;
	border-bottom:solid 1px #555555;
	background-color:transparent;
	outline:none;
	padding-left:6px;
	color:#000;
}

















