body{
	margin:0px;
}

table{
	width: 80%;
	margin: 10px auto;
	background-color: rgb(252,252,252);
	width: 75%;
	border-collapse: collapse;
}

td{
	height: 25px;
	font-size: 16px;
	border:solid 1px #DDDDDD;
}

.question{
	padding: 12px;
	color:#FF9933;
}

.option{
	text-align: center;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	padding: 8px;
}

.correct{
	text-align: center;
	height: 25px;
	line-height: 25px;
	font-size: 18px;
	background-color: #006699;
	color: white;
}

.your{
	background-color: #009999;
	color: white;
}

.result_t{
	background-color: #00CC00;
	color: white;
}

.result_f{
	color: white;
}

.explain{
	padding:10px; 
	font-size: 14px;
	color:#666666;
}

.ids{
	color:white;
	background-color: #33CCCC;
	border-radius: 50%;
	display: inline-block;
	width: 20px;
	height: 20px;
	text-align: center;
}