#left{
	display: inline-block;
	width: 40%;
	border-right: solid 2px blue; 
	padding: 20px;
}

#right{
	display: inline-block;
	width: 50%;
	vertical-align: top;
}


.info li{
	list-style-type: none;
	font-size: 18px;
	height: 50px;
	line-height: 40px;
}

.text_info{
	color:#535353;
	font-style:italic;

}

.new_content{
	border:none;
	border-bottom: solid 1px #333333;
	outline: none;
	background-color: transparent;
}

h2{
	margin-left:20px;
	color: #CC9933;
}

.info_panel{
	background-color:#CCCC99;
	padding:15px; 
	margin-top:15px;
	border-radius: 15px;
	margin-left: 15px;
}

button{
	width: 80px;
	height: 40px;
	border-radius: 5px;
	color:white;
	background-color: #FF6633;
	border:none;
	margin-left: 70%;
	cursor: pointer;
}

.stat_info{
	margin-left: 20px;
	padding-top: 20px;
}

.num{
	color:green;
	font-style:normal;

}

.stat_num{
	margin-right: 15px;
}

time{
	margin-right: 15px;
	color:#6699CC;
}

#right ul li{
	list-style-type: none;
	padding: 15px;
	background-color: rgb(249,249,249);
	border-radius: 8px;
	border:solid 1px #959595;
	margin-top: 15px;
}